html body{
  height: 100%;
  font-family: "Segoe UI";
}

.login-one-form {
  transform: translate(-50%, -50%);
  top: 50%;
  max-width: 500px;
  width: 500px;
  left: 50%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  position: absolute;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}

.login-one {
  background-color: #212529;
  height: 100%;
  background-size: cover;
}

.login-one-ico {
  padding: 30px;
  font-size: 50px;
  text-align: center;
}

#lockico{
  font-size: 200%;
  color: #212529;
}

#lockico:hover {
  color: #555555;
  transition: 0.5s;
}

.form-group {
  text-align: center;
  align-content: center;
}

input {
  margin: 10px;
}

input:hover{
  border: #555555 solid 1px;
  transition: 0.1s;
}

input:focus{
  border: #555555 solid 1px;
  transition: 0.1s;
}

#heading {
  padding-bottom: 10px;
}

.form-control:focus {
  width: 101%;
  transition: 0.5s;
}

#loginbtn{
  width: 100%;
  margin: 10px;
  border: none;
  background-color: #212529;
  transition: 0.5s;
}

#loginbtn:hover{
  height: 110%;
  background-color: #555555;
  transition: 0.5s;
}

.lds-ring {
  display: inline-block;
  position: relative;
  left: 15px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #212529;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #212529 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}