html{
    width: 100%;
    height: 100%;
}

body{
    height: 80%;
}

.header-content{
    margin: 1%;
}

header{
    background-color: #555555;
    padding: 1%;
    display: flex;
}

#headericon{
    color: rgb(255,255,255);
    font-size: 50px;
    height: auto;
    width: auto;
    display: inline-block;
}

#headertitle{
    color: rgb(255,255,255);
    margin-left: 1%;
    margin-bottom: 0px;
}

.page-content{
    height: 98%;
    margin: 2%;
    align-content: center;
    border: solid 1px;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    overflow: hidden;
}